/**
 * The Computer Modern fonts are really great and match the KaTeX library fonts but they do not read well on the
 * screen, or atleast they don't to me.  I am leaving them in the CSS file so I can experiment later but will replace
 * them with something that looks nicer on the screen.
 **/

/*
 * COMPUTER MODERN CONCRETE FONT
 */
@font-face {
    font-family: 'Computer Modern Concrete';
    src: url('../fonts/cm-font/cmunorm.otf');
}

@font-face {
    font-family: 'Computer Modern Concrete';
    src: url('../fonts/cm-font/cmunobx.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Computer Modern Concrete';
    src: url('../fonts/cm-font/cmunoti.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Concrete';
    src: url('../fonts/cm-font/cmunobi.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../cm-font/cmuntt.otf');
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/cm-font/cmuntb.otf');
    font-weight: bold;
}


/*
 * COMPUTER MODERN FONT
 */
@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cm-font/cmunrm.otf');
}

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cm-font/cmunbx.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cm-font/cmunti.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cm-font/cmunbi.otf');
    font-weight: bold;
    font-style: italic;
}

/*
 * LINUX LIBERTING FONT
 */
@font-face {
    font-family: 'Linux Libertine';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinLibertine_R.woff');
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinLibertine_RB.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinLibertine_RBI.woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinLibertine_RI.woff');
    font-style: italic;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinBiolinum_R.woff');
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinBiolinum_RB.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinBiolinum_RI.woff');
    font-style: italic;
}