/**
 * Computer Modern Fonts downloaded from https://sourceforge.net/projects/cm-unicode/.  There are CDN versions but I
 * don't know the quality of them.  These look pretty good.
 **/

/*
 * COMPUTER MODERN FONT
 */
@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cm-font/cmunrm.ttf');
}

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cm-font/cmunbx.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cm-font/cmunti.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('../fonts/cm-font/cmunbi.ttf');
    font-weight: bold;
    font-style: italic;
}

/*
 * COMPUTER MODERN BRIGHT
 */
@font-face {
    font-family: 'Computer Modern Bright';
    src: url('../fonts/cm-font/cmunbmr.ttf');
}

@font-face {
    font-family: 'Computer Modern Bright';
    src: url('../fonts/cm-font/cmunbbx.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Computer Modern Bright';
    src: url('../fonts/cm-font/cmunbmo.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Bright';
    src: url('../fonts/cm-font/cmunbxo.ttf');
    font-weight: bold;
    font-style: italic;
}

/*
 * COMPUTER MODERN TYPEWRITTER
 */
 @font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/cm-font/cmuntt.ttf');
 }

 @font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/cm-font/cmunit.ttf');
    font-style: italic;
 }

 @font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/cm-font/cmuntb.ttf');
    font-weight: bold;
 }

 @font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('../fonts/cm-font/cmuntx.ttf');
    font-weight: bold;
    font-style: italic;
 }

/*
 * LINUX LIBERTING FONT
 */
@font-face {
    font-family: 'Linux Libertine';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinLibertine_R.woff');
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinLibertine_RB.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinLibertine_RBI.woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinLibertine_RI.woff');
    font-style: italic;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinBiolinum_R.woff');
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinBiolinum_RB.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinLibertineWOFF_5.3.0_2012_07_02/LinBiolinum_RI.woff');
    font-style: italic;
}