/*
 * MAIN STYLE
 */
html {
    padding: 0;
    margin: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 960px;

    font-family: 'Linux Libertine', 'Noto Serif', serif;
    font-size: 16px;
    line-height: 1.5;

    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Linux Biolinum', 'Noto Sans', sans-serif;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 0.9em;
}

p code {
    color: #d63384;
}

li code {
    color: #d63384;
}

figcaption {
    font-style: italic;
    font-size: 0.85em;
}

pre code {
    border-radius: 0.25rem;
}

/*
 * Breadcrumb Navigation
 */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eeeeee;

    font-family: 'Linux Biolinum', 'Noto Sans', sans-serif;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li::before {
    padding: 8px;
    color: #000000;
    content: "/\00a0";
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    border-bottom: 3px solid #666666;
}

td {
    border-bottom: 1px solid #cccccc;
    padding: 3px;
}

/* Copied directly from Bootstrap */
p.warning {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

p#output {
    font-family: 'Noto Sans Mono', monospace;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}