/*
 * MAIN STYLE
 */
html {
    padding: 0;
    margin: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 960px;

    font-family: 'Computer Modern', serif;
    font-size: 16px;
    line-height: 1.5;

    text-align: justify;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre, code {
    font-family: 'Computer Modern Typewriter', monospace;
}

p code {
    color: #d63384;
}

li code {
    color: #d63384;
}

dl code {
    color: #d63384;
}

figcaption {
    font-style: italic;
    font-size: 0.85em;
}

pre code {
    border-radius: 0.25rem;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    border-bottom: 3px solid #666666;
}

td {
    border-bottom: 1px solid #cccccc;
    padding: 3px;
}

/*
 * Breadcrumb Navigation, copied almost directly from https://www.w3schools.com/howto/howto_css_breadcrumbs.asp.
 */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eeeeee;

    font-family: 'Computer Modern Bright', sans-serif;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li::before {
    padding: 8px;
    color: #000000;
    content: "/\00a0";
}

/*
 * Helper clases for various things, most are copied directly from Bootstrap.  I don't have a need for the full
 * Bootstrap CSS.
 */
p.warning {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}


.center {
    text-align: center;
}

/*
 * By default the KaTeX font size is 1.2 em, this changes it back to match the rest of the font.
 */
.katex {
    font-size: 1em;
}


/*
 * Style for the output paragraph.  It's very similar, maybe exact, to the Bootstrap muted style.
 */
p#output {
    font-family: 'Computer Modern Typewriter', monospace;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}